@import "../../../scss/variables";

.section__menu {
  @media (max-width: $md) {
    padding-block: 9rem;
  }

  background: $bgTopPink;
  padding-block: 11.44rem;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .menu__vector {
    position: absolute;
    top: 0;
    right: 0;
    background: url(/assets/vector-top.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    height: 12.6875rem;
    width: 100%;

    img {
      max-width: 100%;
    }
  }

  .gallery__vector {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(/assets/vector-bottom.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    height: 12.6875rem;
    width: 100%;

    img {
      max-width: 100%;
    }
  }

  .menu__title {
    @media (max-width: $md) {
      font-size: 1.5rem;
    }

    color: $white;
    font-family: $mainFont;
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-block-end: .94rem;
  }

  .menu__subtitle {
    @media (max-width: $md) {
      margin-block-end: 2.5rem;
    }

    color: $gray;
    text-align: center;
    font-family: $secondaryFont;
    font-size: 1rem;
    margin-block-end: 4.69rem;  
  }

  .menu__cards {
    @media (max-width: $md) {
      flex-direction: column;
      gap: 1.5rem;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin-block-end: 2.19rem;

    .cards__arrow {
      @media (max-width: $md) {
        display: none;
      }

      padding: .9rem;
      border: none;
      border-radius: 50%;
      background-color: $white;
      cursor: pointer;
    }
  }

  .menu__dots {
    @media (max-width: $md) {
      display: none;
    }
  }
}