@import "../../../scss/variables";

.section__contact {
  @media (max-width: $md) {
    padding-block-end: 0;
  }

  padding-block-end: 5.63rem;

  .contact__title {
    @media (max-width: $md) {
      font-size: 1.75rem;
      padding-block-start: 1rem;
    }

    color: $black;
    font-family: $mainFont;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-block-end: .94rem;
    padding-block-start: 2.5rem;
  }

  .contact__subtitle {
    color: $gray;
    text-align: center;
    font-family: $secondaryFont;
    font-size: 1rem;
    margin-block-end: 4.56rem;
  }

  .contact__info {
    @media (max-width: $md) {
      flex-direction: column;
      gap: 2rem;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    .info__details {
      @media (max-width: $md) {
        width: 100%;
        gap: 2rem;
      }

      display: flex;
      flex-direction: column;
      gap: 9.31rem;

      .details__row {
        @media (max-width: $md) {
          flex-direction: column;
          gap: 1.5rem;
        }

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 6.81rem;

        h3 {
          @media (max-width: $md) {
            font-size: 1rem;
            margin-block-end: .8rem;
          }

          color: $black;
          font-family: $mainFont;
          font-size: 1.5rem;
          font-weight: 600;
          text-transform: uppercase;
          margin-block-end: 1.37rem;
        }

        p {
          @media (max-width: $md) {
            font-size: .7rem;
          }

          color: $black;
          font-family: $secondaryFont;
          font-size: 1.125rem;

          &:is(:not(:last-child)) {
            margin-block-end: .56rem;
          }
        }
      }
    }

    .info__map {
      @media (max-width: $md) {
        & img {
          max-width: 100%;
        }
      }
    }
  }
}