@import "../../../scss/variables";

.details__card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-block-start: 2.44rem;
  margin-block-end: 5.12rem;

  .card__img {
    padding: 1.25rem 1.44rem;
    border: 0;
    border-radius: 50%;
    background-color: rgba(251, 194, 235, 0.35);
  }

  .card__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.44rem;

    .info__title {
      color: $black;
      font-family: $secondaryFont;
      font-size: 1.25rem;
      font-weight: 400;
    }

    .info__text {
      color: $lightGray;
      font-family: $secondaryFont;
      font-size: 1rem;
    }
  }
}

.details__card:is(:nth-child(2)) {
  border-radius: 1.875rem;
  background: rgba(217, 217, 217, 0.26);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.11);
}
