@import "../../../scss/variables";

.section__gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .gallery__title {
    color: $black;
    font-family: $mainFont;
    font-size: 2.1875rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-block-end: .94rem;
  }

  .gallery__subtitle {
    color: $gray;
    text-align: center;
    font-family: $secondaryFont;
    font-size: 1rem;
    margin-block-end: 4.69rem;
  }
  
  .gallery__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.87rem;
    position: relative;
    z-index: 0;

    &::after {
      content: "";
      width: 99rem;
      height: 6rem;
      background-color: $white;
      border-radius: 100%;
      position: absolute;
      bottom: -1.5rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      overflow-y: hidden;
    }

    &::before {
      content: "";
      width: 99rem;
      height: 6rem;
      background-color: $white;
      border-radius: 100%;
      position: absolute;
      top: -1.8rem;
      left: 50%;
      transform: translate(-50%);
      z-index: 1;
      overflow-y: hidden;
    }
  }
}