@import "../../../scss/variables";

.section__details {
  @media (max-width: $md) {
    margin-block-end: 2rem;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .details__title {
    @media (max-width: $md) {
      font-size: 1.5rem;
    }

    color: $black;
    font-family: $mainFont;
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-block-end: 1.06rem;
  }

  .details__subtitle {
    color: $gray;
    text-align: center;
    font-family: $secondaryFont;
    font-size: 1rem;
    margin-block-end: 4.69rem;
  }

  .details__cards {
    @media (max-width: $lg) {
      flex-direction: column;
      gap: 1.5rem;
      align-items: flex-start;
      justify-content: center;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.38rem;
  }
}