$white: #fff;
$black: #000;
$lightPink: hsla(317, 88%, 87%, 1);
$lightGray: hsla(0, 0%, 36%, 0.81);
$gray: hsla(0, 1%, 39%, 1);
$bgTopBlue: linear-gradient(180deg, #a6c1ee 0%, #fbc2eb 100%);
$bgTopPink: linear-gradient(180deg, #fbc2eb 0%, #a6c1ee 100%);
