@import "../../../scss/variables";

.nav {
  .nav__list {
    @media (max-width: $md) {
      display: none;
    }

    @media (max-width: $lg) {
      gap: 1rem;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.82rem;

    .nav__link {
      @media (max-width: $lg) {
        font-size: .7rem;
      }

      color: $white;
      text-align: center;
      font-family: $secondaryFont;
      font-size: 1.25rem;
      font-weight: 600;
    }

    .nav__phone {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nav__btn {
      @media (max-width: $lg) {
        margin-inline-start: 1rem;
        padding: .29rem .45rem;
      }

      margin-inline-start: 1.63rem;
      padding: .69rem .75rem;
      border: none;
      border-radius: 50%;
      background-color: $white;
      fill: $white;
      cursor: pointer;
    }
  }
}
