@import "../../../scss/variables";

.nav {
  .nav__list {
    @media (max-width: $md) {
      display: none;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.82rem;

    .nav__link {
      color: $white;
      text-align: center;
      font-family: $secondaryFont;
      font-size: 1.25rem;
      font-weight: 600;
    }

    .nav__phone {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nav__btn {
      margin-inline-start: 1.63rem;
      padding: .69rem .75rem;
      border: none;
      border-radius: 50%;
      background-color: $white;
      fill: $white;
      cursor: pointer;
    }
  }
}
